
.container{
    max-width: 500px;
    margin: auto;
}
body{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
}
p{
    color: brown;
}
h1,h2{
    color:darkslateblue
}
ul,li{
    color:brown
}